.skeleton {
    background-color: #e0e0e0;
    background-image: linear-gradient(90deg,
            #e0e0e0 0px,
            #f0f0f0 40px,
            #e0e0e0 80px);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite linear;
    display: inline-block;
}

@keyframes skeleton-loading {
    0% {
        background-position: -200px 0;
    }

    100% {
        background-position: calc(200px + 100%) 0;
    }
}